<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
    Document   : config.xml
    Created on : October 1, 2008, 11:04 AM
    Author     : pb00141
    Description:
        Purpose of the document follows.
-->
<root xml:id="root">
  
<board xml:id="performance1"><host xml:id="performance1.neteye"><service xml:id="performance1.neteye.PING"><source xml:id="performance1.neteye.PING.1" min="0.000000" max="" label="rta" unit="ms" green="100.000000" yellow="500.000000" red="" step="0"/><source xml:id="performance1.neteye.PING.2" min="0" max="" label="pl" unit="%%" green="20" yellow="60" red="" step="0"/></service></host></board></root>
