/**************************************************************
This is a css file to create the dynamic tab menue used in
wuerth phoenix neteye.

Version: 1.0.0
Since: 29.08.2008
Author: Marmsoler Diego

How-to:
Copy and pased the below code fragment to insert the dynamic menue
into your html page:

<!---------------------------Tab menue------------------------->
<table width="650px" cellspacing="0">
  <tr>
    <th align="left">
	<div width="100%" id="links" style="text-decoration:none;">
		<!-- use this line to insert a active tab -->
		<a class="tab_pressed"><span>LabelActive</span></a>

		<!-- copy and paste this line to insert more passive tabs -->
		<a href="destination.php" class="tab"><span>Label</span></a>
	</div>
	<div align="left">
		<img class="line" src="./../images/open.png">
	</div>
    </th>
  </tr>
</table>
<!---------------------------Tab menue------------------------->

Note:
Ensure the availability of the following image files:
	../images/tab1.png
	../images/tab2.png
	../images/tab_notactive1.png
	../images/tab_notactive2.png

**************************************************************/

.clear { /* generic container (i.e. div) for floating tabs */
    overflow: hidden;
    width: 100%;
}

/* ---------------------ENABLED tab----------------------- */
a.tab {
    width:10em;
    position:relative;
    z-index:0;
    cursor:default; 
    background: transparent url('../images/tab2.png') no-repeat scroll top right;
    display: block;
    float: left;
    font-size: 14px;
    margin-left: -12px;
    font-weight: bold;
    padding-right: 36px; /* sliding doors padding */
    text-decoration: none;
    text-align:center;
    outline: none; /* hide dotted outline in Firefox */
}

a.tab span {
    background: transparent url('../images/tab1.png') no-repeat;
    color: #000000;
    display: block;
    height:29px;
    line-height: 25px;
    padding-left: 15px;
}

a.tab:hover {
    background-position:right -75px;
    border:0px;
    color: #000;
    text-decoration: none;
}

a.tab:hover span {
    background-position:left -75px;
    border:0px;
    line-height: 20px;
    padding-left: 15px;
}

a.tab:active {
    background: transparent url('../images/tab2.png') no-repeat scroll top right;
    background-position:right -75px;border:0px;
    outline: none; /* hide dotted outline in Firefox */
}

a.tab:active span {
    background: transparent url('../images/tab1.png') no-repeat;
    background-position:left -75px;border:0px;
}

/* ---------------------ENABLED tab----------------------- */

/* ---------------------PRESSED tab----------------------- */
a.tab_pressed {
    width:11em;
    border:0px;
    position:relative;
    z-index:100;
    cursor:default; 
    background: transparent url('../images/tab_notactive2.png') no-repeat scroll top right;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: -25px;
    margin-left: -17px;
    padding-right: 50px; /* sliding doors padding */
    text-decoration: none;
    outline: none; /* hide dotted outline in Firefox */
    text-align:center;
}

a.tab_pressed span {
    background: transparent url('../images/tab_notactive1.png') no-repeat;
    color: #4A4A7B;
    display: block;
    height:29px;
    line-height: 25px;
}

/* ---------------------PRESSED tab----------------------- */

/* ---------------------LINE break------------------------ */

img.line {
    position:relative;
    left:-12px;
    height:5px;
    width:700px;
    vertical-align:top;
}
/* ---------------------LINE break------------------------ */
